<div layout-sm="column" layout-gt-sm="row">
	<div flex class="full-height-container">
		<div id="login-background" layout="column" layout-align="start center">
			<h1 id="login-header" class="text-center no-margin">TEFL-Planr</h1>
			<p id="slogan-text">Bacon ipsum dolor amet shank andouille sirloin, strip steak boudin shankle ham short ribs cow leberkas beef ball tip frankfurter.
				<br/><br/> Pork belly venison tongue frankfurter kevin chuck swine.
			</p>
			<md-button hide-gt-sm ng-click="Login.scroll()" class="md-raised md-primary">Get Started</md-button>
		</div>
	</div>

	<div id="login-div" flex class="full-height-container">
		<div layout="column" layout-align="center center">
			<h1>Some Title</h1>
			<p>Maybe some text, too?</p>
		</div>
		<div class="centered-box">
			<md-tabs md-selected="Login.selectedTab" md-dynamic-height md-border-bottom md-stretch-tabs="always">
				<md-tab label="login">
					</br>
					<form name="loginForm" ng-submit="Login.login()">
						<div layout="row">
							<md-input-container flex="100">
								<label>Email</label>
								<input required type="email" name="email" ng-model="Login.user.email">
								<div ng-messages="loginForm.email.$error">
									<div ng-show="loginForm.email.$invalid" ng-message="required">This is required.</div>
								</div>
							</md-input-container>
						</div>
						<div layout="row">
							<md-input-container flex="100">
								<label>Password</label>
								<input required type="password" name="password" ng-model="Login.user.password">
								<div ng-messages="loginForm.password.$error">
									<div ng-show="loginForm.password.$invalid" ng-message="required">This is required.</div>
								</div>
							</md-input-container>
						</div>
						<div layout="column" layout-align="start center">
							<md-button type="submit" class="md-raised md-primary">Login</md-button>
							<a ng-click="Login.selectedTab = 1" id="no-account" href="">Don't have an account?</a>
						</div>
					</form>
				</md-tab>
				<md-tab label="signup">
					<form name="signupForm" ng-submit="Login.signup()">
						</br>
						<div layout="row">
							<md-input-container flex="100">
								<label>First Name</label>
								<input required name="firstName" ng-model="Login.user.firstName">
								<div ng-messages="signupForm.firstName.$error">
									<div ng-show="signupForm.firstName.$invalid" ng-message="required">This is required.</div>
								</div>
							</md-input-container>
							<md-input-container flex="100">
								<label>Last Name</label>
								<input required name="lastName" ng-model="Login.user.lastName">
								<div ng-messages="signupForm.lastName.$error">
									<div ng-show="signupForm.lastName.$invalid" ng-message="required">This is required.</div>
								</div>
							</md-input-container>

						</div>
						<div layout="row">
							<md-input-container flex="100">
								<label>Email</label>
								<input required type="email" name="email" ng-model="Login.user.email">
								<div ng-messages="signupForm.email.$error">
									<div ng-show="signupForm.email.$invalid" ng-message="required">This is required.</div>
								</div>
							</md-input-container>
						</div>
						<div layout="row">
							<md-input-container flex="100">
								<label>Confirm Email</label>
								<input required type="email" name="confirmEmail" ng-model="Login.user.confirmEmail">
								<div ng-messages="signupForm.confirmEmail.$error">
									<div ng-show="signupForm.confirmEmail.$invalid" ng-message="required">This is required.</div>
								</div>
							</md-input-container>
						</div>
						<div layout="row">
							<md-input-container flex="100">
								<label>Password</label>
								<input required type="password" name="password" ng-model="Login.user.password">
								<div ng-messages="signupForm.password.$error">
									<div ng-show="signupForm.password.$invalid" ng-message="required">This is required.</div>
								</div>
							</md-input-container>
							<md-input-container flex="100">
								<label>Confirm Password</label>
								<input required type="password" name="confirmPassword" ng-model="Login.user.confirmPassword">
								<div ng-messages="signupForm.confirmPassword.$error">
									<div ng-show="signupForm.confirmPassword.$invalid" ng-message="required">This is required.</div>
								</div>
							</md-input-container>

						</div>
						<div layout="column" layout-align="start center">
							<md-button type="submit" class="md-raised md-primary">signup</md-button>
						</div>
					</form>
				</md-tab>
			</md-tabs>
		</div>
	</div>
</div>