.tefl-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.centered-box {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.text-center {
    text-align: center;
}

.drop-shadow {
    background-color: rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 0px 23px 13px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 23px 13px rgba(0,0,0,0.2);
box-shadow: 0px 0px 23px 13px rgba(0,0,0,0.2);
}

.book-bg {
    background: url(../images/book_background.jpg) no-repeat center center fixed; 
}
@media (min-width: 960px) {
    .journal-bg {
        min-height: 100vh;
    }
}

.journal-bg {
    
    background: 
        linear-gradient(
      rgba(0, 0, 0, .6), 
      rgba(0, 0, 0, 0)
    ),
    url(../images/journal_background.jpg) no-repeat center center fixed; 
}


.full-cover-bg {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.white-text {
    color: white !important;
}

.gray-bg {
    background-color: #f7f7f7;
}
.activity-dialog { 
    min-width: 300px;
}

@media (min-width: 960px) {
    .activity-dialog {
        min-width: 600px;
    }
}
.no-margin {
    margin: 0;    
}
.activity-desc {
    white-space: pre-wrap;
}
.goal-input {
    width: 266px;
}

#login-header {
    color: white;
    padding-top: 25%;
    font-size: 32px;
}

#slogan-text {
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    text-shadow: 2px 2px 25px #1C2833;
    font-size: 18px;
}

.full-height-container {
    min-height: 100vh;
}
@media (min-width: 960px) {
    .lesson-builder {
        overflow-y: scroll;
        height: 100vh
    }
}
#no-account {
    display: block;
    margin-top: 10px;
    font-size: .8em;
    text-decoration: none;
}

.no-error-spacer .md-errors-spacer {
    min-height: 0px !important;
}

#lesson-container {
    margin-left: 10%;
    margin-right: 10%;
}

.activity-title {
    width: 95%;
}
.toolbar-placeholder {
    height: 64px;
}
.lesson-toolbar {
    position: absolute;
}

.no-underline {
    text-decoration: none;
}

.banner {
  height: 300px;
  width: 100%;
  margin-top: -50px;
  background: url(../images/writing_background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
}
#home_banner_title {
  font-size: 54px;
  color: #FFFFFF;
  text-shadow: 2px 2px 8px #000000;
  text-align: center;
  padding-top: 7vh;
  z-index: 1;
}
#home_banner_subtitle {
  font-size: 24px;
  color: #FFFFFF;
  text-shadow: 2px 2px 8px #000000;
  text-align: center;
  margin-top: -15px;
  z-index: 1;
}

md-icon.mobile {
  color: white !important;
  height: auto !important;
}
md-icon {
    display: in-line block !important;
}

md-button {
 color: white !important;
}
.md-button.white-text {
    color: white !important;
}
md-accent {
 color: white !important;
}
md-raised {
 color: white !important;
}

#lesson_selection {
    margin-top: 25px;
}
.lesson_frame {
    margin: 15px;
    text-align: center;
    padding: 15px;
    background-color: #FFFFFF !important;
    color: #2C3E50;
}
.lesson_frame.title {
    font-size: 24px;
    max-width: 20px;
    overflow: hidden;
    color: #2C3E50;
}
#home_lesson_content {
    background-color: #D7DBDD;
    -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
     box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    z-index: 2;
    color: #2C3E50;
}
#home_username_title {
    font-size: 28px;
    color: #2C3E50;
}
md-toolbar {
    box-shadow: 0 2px 5px 2px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0 2px 5px 2px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 2px 5px 2px rgba(50, 50, 50, 0.75);
}

@media print {    
    #lesson-detail-column {
        page-break-after: always;
        overflow: visible !important;
        display: block !important;
    }
    #lesson-activity-list {
        overflow: visible !important;
        display: block !important;
    }
    #lesson-builder {
        page-break-after: always;
        overflow: visible !important;
        display: block !important;
    }
    .activity-in-lesson {
        page-break-inside: avoid;
    }
    button, md-button, md-toolbar, md-toast {
        display: none !important;
    }
    .journal-bg {
        background: none;
        background-color: white;
    }
    .white-text {
        color: black !important;
    }
    #lesson-controls {
        display: none !important;
    }
    #print-tooltip {
        display: none !important;
    }
}
.newLesson-dialog {
    max-width: 300px;
}
#login_logo {
    width: auto;
    height: 125px;
    padding: 5px;
    margin-top: 20px;
}
#login_subtitle {
    font-size: 24px;
    color: #2C3E50;
    text-align: center;
}
#home_logo {
    height: 75px;
    width: auto;
    margin-top: 30px;
    cursor: pointer;
}
#lesson-details {
    margin-top: 50px;
}
#lesson-controls {
    background-color: #E5E7E9;
    padding: 15px;
    text-align: center;
    align-content: center;
}
.lesson-icon {
    padding-top: 10px;
}
#lesson-activity-list {
    padding-top:25px;
    -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px -4px 3px rgba(50, 50, 50, 0.25);
    box-shadow:         0px -4px 3px rgba(50, 50, 50, 0.25);
}
@media (max-width: 960px) {
    #print-button, #download-button, #back-button {
        display: none !important;
    }
}
