
.tefl-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.centered-box {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.text-center {
    text-align: center;
}

.book-bg {
    background: url(../images/book_background.jpg) no-repeat center center fixed; 
}

.journal-bg {
    background: url(../images/journal_background.jpg) no-repeat center center fixed; 
}

.full-cover-bg {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.no-margin {
    margin: 0;    
}

.goal-input {
    /*width: 23vw !important;*/
}

#login-header {
    color: white;
    padding-top: 20%;
}

#slogan-text {
    margin-left: 10%;
    margin-right: 10%;
    color: white;
}

.full-height-container {
    height: 100vh;
}

#no-account {
    display: block;
    margin-top: 10px;
    font-size: .8em;
    text-decoration: none;
}

.no-error-spacer .md-errors-spacer {
    min-height: 0px !important;
}

#lesson-container {
    margin-left: 10%;
    margin-right: 10%;
}

.banner {
  height: 300px;
  width: 100%;
  margin-top: -50px;
  background: url(../images/writing_background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
}
#home_banner_title {
  font-size: 54px;
  color: #FFFFFF;
  text-shadow: 2px 2px 8px #000000;
  text-align: center;
  padding-top: 5vh;
  z-index: 1;
}
#home_banner_subtitle {
  font-size: 24px;
  color: #FFFFFF;
  text-shadow: 2px 2px 8px #000000;
  text-align: center;
  margin-top: -15px;
  z-index: 1;
}

md-icon.mobile {
  color: white !important;
  height: auto !important;
}
md-icon {
    display: block !important;
}

md-button {
 color: white !important;
}
.md-button.white-text {
    color: white !important;
}
md-accent {
 color: white !important;
}
md-raised {
 color: white !important;
}

#lesson_selection {
    margin-top: 25px;
}
.lesson_frame {
    margin: 15px;
    text-align: center;
    padding: 15px;
    background-color: #FFFFFF !important;
}
.lesson_frame.title {
    font-size: 24px;
}
#home_lesson_content {
    background-color: #D7DBDD;
    -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
     box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    z-index: 2;
}
#home_username_title {
    font-size: 28px;
}
md-toolbar {
    box-shadow: 0 2px 5px 2px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0 2px 5px 2px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 2px 5px 2px rgba(50, 50, 50, 0.75);
}
.newLesson-dialog {
    min-width: 300px;
}