<md-toolbar layout="row" class="md-toolbar-tools">
	<md-button class="md-icon-button" aria-label="Settings">
	</md-button>
	<p>
		<span>Logo</span>
	</p>
</md-toolbar>
<div layout="row" layout-xs="row">
	<div class="banner">
		<p id="home_banner_title">Some Banner Text</p>
	</div>
</div>

<div layout="row" layout-xs="row">
	<h1 class="md-title">{{user.firstName}}'s Lessons</h1>
	<!-- sort lessons option -->
	<md-input-container>
		<label>Sort</label>
		<md-select ng-model="sort">
			<md-option ng-repeat="sort in sorts" value="{{sort}}">{{sort}}</md-option>
		</md-select>
	</md-input-container>
	<!-- ng-repeat logged-in user's lessons-->
	<md-button class="md-fab md-fab-bottom-right docs-scroll-fab" docs-scroll-class="scrolling" ng-click="" aria-label="Create Lesson">
		<md-tooltip md-direction="top">Create Lesson</md-tooltip>
		<md-icon aria-label="Menu" class="material-icons">create</md-icon>
	</md-button>
</div>