<md-sidenav md-component-id="left" class="md-sidenav-left">
	<h1>My Activities</h1>
	<div ng-repeat="activity in Lesson.allActivities" layout="row" layout-align="space-between">
        <p>{{activity.title}} </p>
        <div>
            <md-button ng-click="Lesson.editActivity($event, activity)" class="md-icon-button md-primary">
                <md-icon aria-label="Create" class="material-icons">create</md-icon>
            </md-button>
            <md-button ng-click="Lesson.addActivity(activity)" class="md-icon-button md-accent" ng-disabled="Lesson.lesson._activity.indexOf(activity._id) >= 0">
                <md-icon aria-label="Add" class="material-icons">add</md-icon>
            </md-button>
        </div>
	</div>
</md-sidenav>