<navbar></navbar>
<div layout-sm="column" layout-gt-sm="row" id="lesson-detail-column">
	<div class="lesson-bg journal-bg" flex-sm="100" flex-gt-sm="30"  id="lesson-goals">
		<div layout="column" layout-align="center center" layout-padding>
			<md-input-container id="lesson-details">
				<label class="white-text">Lesson Title</label>
				<input style="font-size: 2em" class="white-text" required type="text" name="title" ng-model="Lesson.lesson.title">
				<div ng-messages="lessonForm.title.$error">
					<div ng-show="lessonForm.title.$invalid" ng-message="required">This is required.</div>
				</div>
			</md-input-container>
			<md-input-container>
				<p class="white-text">Lesson Level:</p>
				<md-select class="white-text" ng-model="Lesson.lesson.level" placeholder="Lesson Level" class="md-no-underline">
					<md-option value="Any">Any</md-option>
					<md-option value="Elementary">Elementary</md-option>
					<md-option value="Intermediate">Intermediate</md-option>
					<md-option value="Advanced">Advanced</md-option>
				</md-select>
			</md-input-container>
			<h4 class="text-center white-text no-margin ">Duration: {{Lesson.lesson.duration}}m</h4>
		</div>
		<div layout="column" layout-align="start center" layout-padding>
			<div layout="row" layout-align="start center">
				<h4 class="white-text ">Student Goals</h4>
				<md-button ng-click="Lesson.addGoal(Lesson.studentGoals)" ng-disabled="Lesson.studentGoals.length >= 3" class="md-icon-button  md-primary">
					<md-tooltip>Add Student Goal</md-tooltip>
					<md-icon aria-label="Add" class="material-icons">add</md-icon>
				</md-button>
			</div>
			<div ng-repeat="(idx, studentGoal) in Lesson.studentGoals">
				<md-input-container class="no-margin no-error-spacer goal-input " md-no-float>
					<input class="white-text" md-no-float class="md-block" ng-model="Lesson.studentGoals[idx].goal" placeholder="Student Goal {{idx + 1}}">
				</md-input-container>

				<md-button ng-click="Lesson.deleteGoal(Lesson.studentGoals, idx)" ng-disabled="Lesson.studentGoals.length == 1" class="md-icon-button md-accent">
					<md-tooltip>Remove Goal</md-tooltip>
					<md-icon aria-label="Clear" class="material-icons">clear</md-icon>
				</md-button>
			</div>
			<div layout="row" layout-align="start center">
				<h4 class="white-text">Teacher Goals</h4>
				<md-button ng-click="Lesson.addGoal(Lesson.teacherGoals)" ng-disabled="Lesson.teacherGoals.length >= 3" class="md-icon-button md-primary">
					<md-tooltip>Add Teacher Goal</md-tooltip>
					<md-icon aria-label="Add" class="material-icons">add</md-icon>
				</md-button>
			</div>
			<div ng-repeat="(idx, teacherGoal) in Lesson.teacherGoals">
				<md-input-container class="no-margin no-error-spacer goal-input" md-no-float>
					<input class="white-text" ng-model="Lesson.teacherGoals[idx].goal" placeholder="Teacher Goal {{idx + 1}}">
				</md-input-container>
				<md-button ng-click="Lesson.deleteGoal(Lesson.teacherGoals, idx)" ng-disabled="Lesson.teacherGoals.length == 1" class="md-icon-button md-accent">
					<md-tooltip>Remove Goal</md-tooltip>
					<md-icon aria-label="Clear" class="material-icons">clear</md-icon>
				</md-button>
			</div>
		</div>
	</div>

	<div flex-sm="100" flex-gt-sm="70" class="lesson-builder">

		<div layout="row" flex id="lesson-controls">
			<md-button class="lesson-icon" ng-click="Lesson.openSideNav()"><i class="material-icons">list</i>
				<md-tooltip>My Activties</md-tooltip>
			</md-button>
			<md-button class="lesson-icon" ng-click="Lesson.editActivity($event)"><i class="material-icons">playlist_add</i>
				<md-tooltip>New Activity</md-tooltip>
			</md-button>
			<md-button class="lesson-icon" ng-click="Lesson.saveLesson()"><i class="material-icons">save</i>
				<md-tooltip>Save Lesson</md-tooltip>
			</md-button>
			<md-button class="lesson-icon" ng-click="Lesson.printLesson()" id="print-button"><i class="material-icons">print</i>
				<md-tooltip id="print-tooltip">Print Lesson</md-tooltip>
			</md-button>
			<md-button class="lesson-icon" ng-click="" id="download-button"><i class="material-icons">file_download</i>
				<md-tooltip>Download Lesson</md-tooltip>
			</md-button>
			<md-button class="lesson-icon" ng-click="Lesson.goToHome()" id="back-button"><i class="material-icons">exit_to_app</i>
				<md-tooltip>Back to Lessons</md-tooltip>
			</md-button>
		</div>

		<div id="no-activties-message">
			<h4 class="md-headline text-center" ng-if="Lesson.lesson._activity.length === 0">
				You haven't added any activities to this lesson yet. </br>
				<a class="no-underline" ng-click="Lesson.editActivity($event)" href="">Create an activity</a> or
				<a ng-click="Lesson.openSideNav()" class="no-underline" href="">View your activities</a>
			</h4>
		</div>
		
		<md-list ng-model="Lesson.lesson._activity" id="lesson-activity-list">
			<md-list-item layout="row" layout-wrap layout-align="start start" layout-padding ng-repeat="(idx, activityId) in Lesson.lesson._activity"
			 ng-init="activity = Lesson.findActivity(activityId)" class="activity-in-lesson">
				<div flex="100">
					<h6 class="no-margin md-headline">{{activity.title}}</h6>
				</div>
				<div flex="30" layout="column">
					<h5>{{activity.level}} - {{activity.duration}}m</h5>
					<div layout="row">
						<md-button ng-click="Lesson.editActivity($event, activity)" class="md-icon-button md-primary">
							<md-tooltip>Edit Activity</md-tooltip>
							<md-icon aria-label="Create" class="material-icons">create</md-icon>
						</md-button>
						<md-button ng-click="Lesson.removeActivity(activity)" class="md-icon-button md-accent">
							<md-tooltip>Remove Activity</md-tooltip>
							<md-icon aria-label="Clear" class="material-icons">clear</md-icon>
						</md-button>
						<md-button ng-click="Lesson.moveActivity(idx, idx - 1)" ng-if="idx !== 0" class="md-icon-button md-primary">
							<md-tooltip>Move Up</md-tooltip>
							<md-icon aria-label="keyboardarrowup" class="material-icons">keyboard_arrow_up</md-icon>
						</md-button>
						<md-button ng-click="Lesson.moveActivity(idx, idx + 1)" ng-if="idx !== Lesson.lesson._activity.length - 1" class="md-icon-button md-primary">
							<md-tooltip>Move Down</md-tooltip>
							<md-icon aria-label="keyboardarrowdown" class="material-icons">keyboard_arrow_down</md-icon>
						</md-button>
					</div>
				</div>
				<div flex="70">
					<p class="activity-desc">{{activity.description}}</p>
					<md-divider></md-divider>
				</div>
			</md-list-item>
		</md-list>
	</div>
</div>
<ng-include src="'app/components/lesson/activities.html'"></ng-include>